In [1]:
#Usecase1: Find the greatest of 2 and then 3 numbers not by using built in functions

'''
Author : Priyanga
Date: 25 October 2025
Objective: Find the largest of 3 numbers
'''

#Getting user input and assigning to values
try:
    val1 = float(input('Enter the first number: '))
    val2 = float(input('Enter the second number: '))
    val3 = float(input('Enter the third number: '))
    #Place holder to hold the maximum value
    max_val = 0

    #Logic to determine the largest value
    if val1 > val2:
        max_val = val1
    else:
        max_val = val2
    if val3 > max_val:
        max_val = val3

    #Print the largest value
    print(f"The largest of 3 numbers is: {max_val}")

except:
    print('Enter a valid input')

Enter the first number:  1
Enter the second number:  2
Enter the third number:  5

The largest of 3 numbers is: 5.0

In [1]:
#Usecase2: Pseudo code
# "if" user clicked on the popup then provide the options available upcoming batch or ask anything
# "if" user choosen upcoming batch -> ask user to choose either de or ds or cloud or devops else inform course is not available
# "if" user choosen ask anything ->
# "if" user clicked on the popup then provide the options available upcoming batch or ask anyth

user_clk_popup = input('''Do you want to know more about us?..
To get the popup, type popup: ''')
if user_clk_popup == 'popup':
    user_clk_option = input(''' Please type what you are looking for
    1. Are you looking for information about available upcoming batches?
    2. Queries about anything else
    Please type option 1 or 2: ''')
    if user_clk_option == '1':
        user_clk_course_selection = input('''Please type the course you are interested in,
                                                1. Data Engineering
                                                2. Data Science
                                                3. Cloud
                                                4. Devops
                                                ''')
        if user_clk_course_selection.lower() == 'data engineering' or user_clk_course_selection == 'data science' or user_clk_course_selection =='cloud' or user_clk_course_selection =='devops':
            print('Course Available, we will get in touch with you soon')
        else:
            print('Sorry, Course not available')
    elif user_clk_option == '2':
        print('Please contact +91 xxxxxxxxx/ inceptez@info.com')
    else:
        print('Sorry, option not available, please type 1 or 2 ONLY')
else:
    print('Taking to the appropriate page')

Do you want to know more about us?..
To get the popup, type popup:  popup
 Please type what you are looking for
    1. Are you looking for information about available upcoming batches?
    2. Queries about anything else
    Please type option 1 or 2 2

Please contact +91 xxxxxxxxx/ inceptez@info.com

In [13]:
#Usecase3:
#One program covers almost all these concepts including operators
###########One Reallife usecase program to bring all types of operators in one Program###########
#Swiggy food purchase -> coupon max discount of 100 or 10% which ever is lesser

purchase_amount = int(input('Please enter the amount you have purchased for: '))
purchase_amount_flat_100 = purchase_amount - 100
purchase_amount_10_percent = purchase_amount - (purchase_amount * 0.1)
disc_applied_flat_100 = 100
disc_applied_10_percent = purchase_amount * 0.1

if disc_applied_flat_100 < disc_applied_10_percent:
    print('''Flat Rs. 100 applied to your total amount.
             Total amount to be paid {} '''.format(purchase_amount_flat_100))
else:
    print(f'10% discount of Rs. {disc_applied_10_percent} applied to your total amount, amount to be paid is Rs. {purchase_amount_10_percent}')

Please enter the amount you have purchased for:  700

10% discount of Rs. 70.0 applied to your total amount, amount to be paid is Rs. 630.0

In [31]:
#Usecase3:
#One program covers almost all these concepts including operators
###########One Reallife usecase program to bring all types of operators in one Program###########
#Swiggy food purchase -> coupon max discount of 100 or 10% which ever is lesser

purchase_amount = int(input('Please enter the amount you have purchased for: '))
disc_amount = 100
purchase_amount_flat_100 = purchase_amount - disc_amount
purchase_amount_10_percent = purchase_amount - (purchase_amount * 0.1)
disc_applied_flat_100 = disc_amount
disc_applied_10_percent = purchase_amount * 0.1

print('''Flat Rs. {0} applied to your total amount. Total amount to be paid Rs. {1} '''.format(disc_amount,purchase_amount_flat_100)) if disc_applied_flat_100 < disc_applied_10_percent else print(f'10% discount of Rs. {disc_applied_10_percent} applied to your total amount, amount to be paid is Rs. {purchase_amount_10_percent}')

Please enter the amount you have purchased for:  1090

Flat Rs. 100 applied to your total amount. Total amount to be paid Rs. 990

In [35]:
#Multiplication Tables upto 12

table = int(input("Enter the number that you want table for: "))
upto_what = 1
each_num = 1
while upto_what <= 12:
    print(f'{each_num} * {table} = {each_num * table}')
    each_num+=1
    upto_what+=1

Enter the number that you want table for:  12

1 * 12 = 12
2 * 12 = 24
3 * 12 = 36
4 * 12 = 48
5 * 12 = 60
6 * 12 = 72
7 * 12 = 84
8 * 12 = 96
9 * 12 = 108
10 * 12 = 120
11 * 12 = 132
12 * 12 = 144

In [3]:
# Usecase 4: Try create tables for our kids from 2 to how many tables (get as an input)?
# Using while loop, lets create a table
# Using simple or nested for loop, skip the 5 and 10 tables
# Table has to created upto 12 numbers

# Additional usecase: Try to enrich the above program with dynamically getting the input from the user to control
# starting table, maximum table output and total number of tables

from_what_table = int(input("Please enter from what table do you want: "))
tables_you_want = int(input("Please enter the number of tables that you want upto: "))
numbers_you_want = int(input("Please enter upto what number you want the table: "))
for i in range(from_what_table,tables_you_want+1):
    print(f"The {i} table starts here...")
    for j in range(1, numbers_you_want+1):
        print(f"{i} * {j} = {i*j}")

Please enter from what table do you want:  4
Please enter the number of tables that you want upto:  11
Please enter upto what number you want the table:  14

The 4 table starts here...
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48
4 * 13 = 52
4 * 14 = 56
The 5 table starts here...
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
The 6 table starts here...
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
6 * 12 = 72
6 * 13 = 78
6 * 14 = 84
The 7 table starts here...
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84
7 * 13 = 91
7 * 14 = 98
The 8 table starts here...
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
8 * 12 = 96
8 * 13 = 104
8 * 14 = 112
The 9 table starts here...
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
9 * 12 = 108
9 * 13 = 117
9 * 14 = 126
The 10 table starts here...
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
10 * 13 = 130
10 * 14 = 140
The 11 table starts here...
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
11 * 11 = 121
11 * 12 = 132
11 * 13 = 143
11 * 14 = 154

In [1]:
emp_list = [(1, 'Priya', 'HR'), (2, 'Mukil','CEO'), (1, 'Priya', 'HR')]
type(emp_list)

list

In [9]:
emp_list = list(set(emp_list))
emp_list

[(1, 'Priya', 'HR'), (2, 'Mukil', 'CEO')]

In [15]:
sett = {1,2,3,4}
sett = sett.pop()
print(sett)

1

In [17]:
emp_list.pop()

(2, 'Mukil', 'CEO')

In [19]:
emp_list

[(1, 'Priya', 'HR')]

In [21]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Pop an item by key
removed_value_1 = my_dict.pop('age')
print(f"Removed value: {removed_value_1}, Remaining dict: {my_dict}")

# Pop a non-existent key with a default value
removed_value_2 = my_dict.pop('country', 'Unknown')
print(f"Removed value: {removed_value_2}, Remaining dict: {my_dict}")

# Attempt to pop a non-existent key without a default (will raise KeyError)
# removed_value_3 = my_dict.pop('occupation')

Removed value: 30, Remaining dict: {'name': 'Alice', 'city': 'New York'}
Removed value: Unknown, Remaining dict: {'name': 'Alice', 'city': 'New York'}

In [25]:
    {1,'mm',1}

{1, 'mm'}

In [1]:
# Real Example of For loop:
# Usecase 5: Try reading the data from our filesystem (accounts, customer, loan) and print the data in the screen

import pandas
list_of_files=['accounts.csv','branches.csv','creditcard.csv']
path="C:\\Users\\mmpri\\OneDrive\\Desktop\\Inceptez_Multicloud_DE\\Data_Warehouse_Project\\Datasets\\"
#memtable=pandas.read_csv(path+list_of_files[0])
#memtable.sample(2)
for file in list_of_files:
    print(f"sample of 2 rows from each files in the list {file}")
    memtable=pandas.read_csv(path+file)
    print(memtable.sample(2))

sample of 2 rows from each files in the list accounts.csv
           AccountID AccountType   Balance  CreditScore Currency  CustomerID  \
23328  8534200743857    Business  49413.09          767      USD      423034
25424  7737408965300    Business   9033.10          624      GBP      407326

       DateOpened  ManagerID  ODLimit
23328  2020-11-12       2599  3733.07
25424  2023-09-06       2991  2834.44
sample of 2 rows from each files in the list branches.csv
                                               Address  BranchID  \
112  8946 Smith Mount Suite 230 South Robertacheste...       162
20   830 Rebekah Pass Suite 432 Jenniferfurt, KY 94692       295

                         BranchName           City State  Zipcode
112  Hall, Walker and Harris Branch  Christinefort    VT    23767
20   Rice, Park and Martinez Branch    Mortonburgh    RI    70379
sample of 2 rows from each files in the list creditcard.csv
      Balance  BillCycle            CardID        CardNumber    CardType  \
454   3137.89    Monthly  4492125051787242      639025756664        Visa
6492  3755.76  Quarterly  1853322838704432  4523412005954570  MasterCard

      CreditLimit  CustomerID ExpirationDate  InterestRate   IssueDate  \
454       4635.42      442847     2026-11-02         16.98  2021-04-11
6492      9061.57      433916     2026-12-29         16.62  2024-04-06

         Status
454      Closed
6492  Suspended

In [17]:
# Usecase: Write a program to apply tax 10% for all the states, other than pondy and goa
states_lst = ['tn', 'po', 'ke', 'ka', 'go']
product_price = 15000
dict_result = {}

for i in states_lst:
    if i != 'po' and i != 'go':
        product_price_updated = product_price + (0.1 * product_price)
        dict_result.update({i:product_price_updated})
    else:
        dict_result.update({i:product_price})

print(dict_result)

{'tn': 16500.0, 'po': 15000, 'ke': 16500.0, 'ka': 16500.0, 'go': 15000}

In [57]:
json_str = """
{
 "process": "ETL Process1",
 "source": ["hive", "Bigquery"],
 "target": ["HDFS", "GCS"],
 "cols": ["custid", "upper(custname) as upper_custname"],
 "tablename": "customer",
 "where": "(city='chennai')",
 "gcs_uri": "gcs://abc/xyz_bucket/"
}
"""
json_formatted_memory_file = json.loads(json_str)
# {"process":"ETL Process1","source":["hive","Bigquery"],"target":["HDFS","GCS"],"cols":["custid","upper(custname) as upper_custname"],"tablename":"customer","where":"(city='chennai')","gcs_uri":"gcs://abc/xyz_bucket/"}
# usecase:
# 1. try to print from bigquery to gcs we are loading data
# 2. try changing the query
# 3. try using where clause also
# sqlquery="select custid,upper(custname) as upper_custname from customer where (city='chennai');"

print(json_formatted_memory_file)

sqlquery = f'select {json_formatted_memory_file["cols"][0]}, {json_formatted_memory_file["cols"][1]} from {json_formatted_memory_file["tablename"]} where {json_formatted_memory_file["where"]};'
print(sqlquery)

{'process': 'ETL Process1', 'source': ['hive', 'Bigquery'], 'target': ['HDFS', 'GCS'], 'cols': ['custid', 'upper(custname) as upper_custname'], 'tablename': 'customer', 'where': "(city='chennai')", 'gcs_uri': 'gcs://abc/xyz_bucket/'}
select custid, upper(custname) as upper_custname from customer where (city='chennai');

In [137]:
#Python Evaluation Use Cases
'''
A. Python is an indent based programming language
The following program throws an indentation error. Correct it and make sure it prints properly.

teams = ['Data', 'AI', 'DevOps']
for t in teams:
print('Hello', t, 'Team from Inceptez Technologies')
  print('Keep Learning and Exploring!')
'''
#Solution

teams = ['Data', 'AI', 'DevOps']
for t in teams:
    print('Hello', t, 'Team from Inceptez Technologies')
    print('Keep Learning and Exploring!')

Hello Data Team from Inceptez Technologies
Keep Learning and Exploring!
Hello AI Team from Inceptez Technologies
Keep Learning and Exploring!
Hello DevOps Team from Inceptez Technologies
Keep Learning and Exploring!

In [63]:
#B. Commented line in Python
#Use Case 1:
#Add single-line and multi-line comments to describe what the below code does for Inceptez Technologies’ training tracker.

#Assign the number of students in variable "students"
students = 100

#Assign the trainers of students in variable "trainers"
trainers = 2

"""calculate the sum of students and trainers
store it in the variable "total"
print the result
"""
total = students + trainers
print(total)

102

In [65]:
#Use Case 2:
#Convert the below block into a “dead code” using comments, then re-activate it later to print

print("Welcome to Inceptez Python Learning")

Welcome to Inceptez Python Learning

In [83]:
"""C. Playing with Quotes
Use Case 1:
Create three string variables that correctly store and print:

This is Inceptez's "Python" class for Data Engineers & AI Engineers
→ Use single, double, and triple quotes appropriately."""

my_name = "Priyanga Maranayanar"
spouse_name = 'Mukilvannan Manohararajan'
our_nick_name = """Pattu!!!"""
print(f"My name is {my_name}, my husband's name is {spouse_name} and I call him {our_nick_name}")

My name is Priyanga Maranayanar, my husband's name is Mukilvannan Manohararajan and I call him Pattu!!!

In [85]:
"""
Use Case 2:
Write a multiline string using triple quotes that prints:
"""
print(
"""
Welcome to Inceptez Technologies!
Python Training: Basics
Enjoy your learning journey.
"""
)

Welcome to Inceptez Technologies!
Python Training: Basics
Enjoy your learning journey.

In [89]:
"""
D. Let's learn all about VARIABLES
Use Case 1:
Declare variables to store the following details:
- Student Name
- Course Name (e.g., “Python Fundamentals”)
- Training Institute Name (Inceptez Technologies)

Then print a formatted message:

Name: Arun is learning the course Python Fundamentals at the institute Inceptez Technologies
"""

student_name = "Priyanga Maranayanar"
course_name = "Python Fundamentals"
training_institute = "Inceptez Technologies"

print(f"{student_name} is learning the course  {course_name} at the institute {training_institute}")

Priyanga Maranayanar is learning the course  Python Fundamentals at the institute Inceptez Technologies

In [101]:
"""
Use Case 2:
Demonstrate dynamic inference, dynamic typing using with fee by applying .18 gst  
and prove strongly typing character also by operating it with Eighteen percent gst

fee = 45000
"""
# Dynamic inference - based on the assigned value to a variable, it will automatically decides/infer/identify/refers the data type dynamically
fee = 45000
print(type(fee))

# Dynamically typed: If a variable is created with a specific data type, can be changed later by performing soe eration
gst = 0.18
fee = fee + gst * fee
print(type(fee))

# Strongly typed: Python allow us to operate between the variables of Similar datatype (of the same hierarchy) and doesn't allow to operate between different datatypes.
#print(student_name + gst) #will throw error because of strongly typed

<class 'int'>
<class 'float'>

In [107]:
"""
E. Variables Naming Conventions
Use Case 1:
Identify which variable names below are invalid for Inceptez’s student database:

1) 2student = 'Ravi'
2) _student_id = 1001
3) studentName = 'Priya'
4) class name = 'Python'
5) inceptez_batch = 'Morning'
"""

#Invalid - 2student = 'Ravi'

"\nE. Variables Naming Conventions\nUse Case 1:\nIdentify which variable names below are invalid for Inceptez’s student database:\n\n1) 2student = 'Ravi'\n2) _student_id = 1001\n3) studentName = 'Priya'\n4) class name = 'Python'\n5) inceptez_batch = 'Morning'\n"

In [109]:
"""
Use Case 2:
Declare 3 variables following naming styles for Inceptez projects:

PascalCase: DataEngineeringBatch
camelCase: dataEngineeringBatch
snake_case: data_engineering_batch
"""

DataEngineeringBatch = "WD36"
dataEngineeringBatch = "WD36"
data_engineering_batch = "WD36"

In [131]:
"""
F. Type identification & Casting
Use Case 1:
Write a program that asks for an employee’s age.
1. Checks its type is of string
2. Converts it to int
3. Prints the years pending for retirement, for eg. 60 is the retirement age.
Example:
Enter your age: 40
You will retire in 20 years at Inceptez Technologies
"""

i = input("Enter the employee's age:  ")
i = int(i)
if (i < 21):
    print(f"Sorry! you are too young to work at our organization. Try again in {21-i} years")
elif (i >= 21 and i <= 59):
    print(f"You have {60-i} years to work at Inceptez")
else:
    print(f"Sorry your age is too high to work at our org")

Enter the employee's age:   16

Sorry! you are too young to work at our organization. Try again in 5 years

In [135]:
"""Use Case 2 (Debug):
Fix the type error in the following code for salary calculation:

salary = '50000'
bonus = 10000
print('Total Salary in Inceptez:', salary + bonus)"""

salary = 50000
bonus = 10000
print('Total Salary in Inceptez:', salary + bonus)

Total Salary in Inceptez: 60000

In [140]:
"""
G. Standard Input & output options
Use Case 1:
Write a Python program that takes two inputs:
- name (student name)
- batch (course name)
and prints:

Hi <name>, welcome to the <batch> batch at Inceptez Technologies!
→ Use f-string formatting.
"""

name = input("Enter your name: ")
batch = input("Enter the course name: ")

print(f"Hi {name}, welcome to the {batch} batch at Inceptez Technologies. All the best!!!")

Enter your name:  Priyanga
Enter the course name:  Data Engineering - Multi Cloud

Hi Priyanga, welcome to the Data Engineering - Multi Cloud batch at Inceptez Technologies. All the best!!!

In [144]:
"""
Use Case 2:
Rewrite the following using the format() function instead of   f-string:

print(f'The Python course at Inceptez Technologies costs {fee} rupees')
"""
fee = 40000
print('The Python course at Inceptez Technologies costs {0} rupees'.format(fee))

The Python course at Inceptez Technologies costs 40000 rupees

In [154]:
"""
H. Data types and casting
Use Case 1 — Employee Salary Breakdown Using Numeric & String Types
Employee Salary Breakdown
a. Write a program that asks the user for:
employee_name (string)
base_salary (float)
hra_percent (integer)
bonus_amount (float)
"""
employee_name = input("Enter your name: ")
base_salary =  input("Enter your base salary: ")
hra_percent = input("Enter the hra percent: ")
bonus_amount = input("Enter the bonus amount: ")

"""
B. Convert inputs to the correct datatype if required.
Calculate:
 HRA = base_salary * (hra_percent / 100)
 Total Salary = base_salary + HRA + bonus_amount
"""
base_salary = int(base_salary)
hra_percent = int(hra_percent)
bonus_amount = int(bonus_amount)
HRA = base_salary * (hra_percent / 100)
Total_Salary = base_salary + HRA + bonus_amount

"""
C. Print the output like this:
Employee: Arun
Base Salary: 40000.0
HRA @ 20%: 8000.0
Bonus: 5000.0
Total Salary Payable: ₹53000.0
"""

print(
"""
Employee: {0}
Base Salary: {1}
HRA @ {2}%: {3}
Bonus:{4}
Total Salary Payable : {5}
""".format(employee_name,base_salary,hra_percent,HRA,bonus_amount,Total_Salary))

Enter your name:  Priyanga
Enter your base salary:  100000
Enter the hra percent:  3
Enter the bonus amount:  3000

Employee: Priyanga
Base Salary: 100000
HRA @ 3%: 3000.0
Bonus:3000
Total Salary Payable : 106000.0

In [37]:
"""
Use Case 2: Student Result Classification
a. Write a program that takes marks as input (initially as a string).
B. Check if the value can be converted to float.
C. Then classify:
Marks >= 90 --> Outstanding
 Marks >= 75 --> Excellent
 Marks >= 50 --> Pass
 Marks < 50 --> Fail
D. If the input is not numeric, print:
 Invalid marks entered — Please provide numeric input.
 """

inp = input("Enter the Marks: ")

while True:
    try:
        inp = int(inp)

        # Range validation
        if inp < 0 or inp > 100:
            inp = input("Invalid entry. Please enter a number between 0 and 100: ")
            continue

        break  # valid integer and valid range → exit loop

    except ValueError:
        inp = input("Invalid entry. Please enter a numeric value: ")

# Classification
if inp >= 90:
    print("Outstanding")
elif inp >= 75:
    print("Excellent")
elif inp >= 50:
    print("Pass")
else:
    print("Fail")

Enter the Marks:  30

Fail

In [45]:
"""
Use Case 3: Bug Fixing — Datatype Mismatch
The below code is intended to calculate total price, but it has datatype errors. Fix it.
Incorrect code:
item_name = input("Enter product name: ")
 price = input("Enter price per item: ")
 quantity = input("Enter quantity: ")
total_cost = price * quantity
print("You purchased " + quantity + " units of " + item_name)
 print("Total payable: " + total_cost)
Expected output after fixing:
Enter product name: Notepad
 Enter price per item: 35.50
 Enter quantity: 3
You purchased 3 units of Notepad
 Total payable: 106.5 INR
"""

item_name = input("Enter product name: ")
price = float(input("Enter price per item: "))
quantity = int(input("Enter quantity: "))
total_cost = price * quantity
print("You purchased " + str(quantity) + " units of " + str(item_name))
print("Total payable: " + str(total_cost))

Enter product name:  note
Enter price per item:  35.5
Enter quantity:  3

You purchased 3 units of note
Total payable: 106.5

In [69]:
while True:
    try:
        total_monthly_data = float(input("Enter your Total monthly data limit (in GB): "))
        data_used = float(input("Enter data used so far (in GB): "))

        # Value validation
        if total_monthly_data <= 0:
            print("Monthly limit must be greater than 0. Try again.\n")
            continue

        if data_used < 0:
            print("Used data cannot be negative. Try again.\n")
            continue

        if data_used > total_monthly_data:
            print("Used data cannot be greater than the limit. Give valid input again.\n")
            continue

        # Valid input → break loop
        remaining_data = total_monthly_data - data_used
        usage_perc = (data_used / total_monthly_data) * 100
        break

    except ValueError:
        print("Invalid entry. Please enter a numeric value.\n")

# Output section
print("\nThe Remaining data is:", remaining_data)

if usage_perc >= 80:
    print("Warning: High usage, consider upgrading your plan.")
else:
    print(f"The usage percent is {round(usage_perc, 2)}")

Enter your Total monthly data limit (in GB):  100
Enter data used so far (in GB):  2

The Remaining data is: 98.0
The usage percent is 2.0